<div *ngIf="character">

	<h2>{{character.name | uppercase}} Details</h2>
	<div><span>id: </span>{{character.id}}</div>
	<div>
		<label for="character-name">Character name: </label>
		<input id="character-name" [(ngModel)]="character.name" placeholder="name">
	</div>

  <button (click)="showAppearance=!showAppearance">Show/hide details</button>
  <div *ngIf="showAppearance">
    <h5>height: {{character.height}}</h5>
    <h5>mass: {{character.mass}}</h5>
    <h5>hair color: {{character.hair_color}}</h5>
    <h5>eye_color: {{character.eye_color}}</h5>
    <h5>birth_year: {{character.birth_year}}</h5>
    <h5>gender: {{character.gender}}</h5>
  </div>

  <button (click)="goBack()">go back</button>

</div>
