@import '../../scss/colors.scss';

#search-component {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 1em;
}

input {
	font-size: 2rem;
}

ul {
	background: $white;
}
