<h2>Star Wars Characters</h2>

<div>
	<label for="new-character">Character name:</label>
	<input id="new-character" #characterName />

	<!-- (click) passes input value to add() and then clears the input -->
	<button class="add-button"
	(click)="add(characterName.value); characterName.value=''">
	Add character
</button>
</div>

<ul class="heroes">
	<li	*ngFor="let character of characters">
		<a routerLink="/detail/{{character.id}}">
			<span class="badge">{{character.id}}</span> {{character.name}}
		</a>
		<button class="delete" title="delete character"
		(click)="delete(character)">×</button>
	</li>
</ul>
