<h2>Star Wars Characters</h2>
<ul class="heroes">
	<li *ngFor="let character of characters"
		[class.selected]="character === selectedCharacter"
		(click)="onSelect(character)">
		<span class="badge">{{character.id}}</span>
		{{character.name}}
	</li>
</ul>

<div *ngIf="selectedCharacter">

	<h2>{{selectedCharacter.name | uppercase}} Details</h2>
	<div><span>id: </span>{{selectedCharacter.id}}</div>
	<div>
		<label for="character-name">Character name: </label>
		<input id="character-name" [(ngModel)]="selectedCharacter.name" placeholder="name">
	</div>

</div>
